<div class="page-header">
  <h1>各種<%= t(Topic.model_name.human) %> <%= link_to icon_tag(:plus), new_topic_path, class: 'btn btn-success' %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <%= th_for Topic, :name, :pattern, :user %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <td><code><%= topic.pattern %></code></td>
        <td><%= link_to topic.user %></td>
        <td>
            <%= link_to icon_tag(:edit), edit_topic_path(topic), class: 'btn btn-sm btn-info' %>
            <%= link_to icon_tag(:trash), topic, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: '你確定？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
