<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">小兜蟲</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= nav_li '關於', about_path %>
        <%= nav_li 'FAQ', faq_path %>
        <li><a href="https://github.com/tonytonyjan/tjboy" target="_blank">Github</a></li>
      </ul>

      <form action="/users/search" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" name="nick_name" class="form-control" placeholder="輸入噗浪帳號">
        </div>
        <button type="submit" class="btn btn-default">尋找朋友的專頁</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= display_user(current_user) %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <%= nav_li icon_tag(:user) + ' 我的專區', polymorphic_path([current_user, Topic]) %>
              <%= nav_li icon_tag(:book) + ' 我的朋友', users_path, method: :== %>
              <li><%= link_to icon_tag(:off) + ' 登出', sign_out_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to '登入', sign_in_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>